
.page{
    width:400px;
}
.topbar{
    display:flex;
    justify-content:center;
    font-family:cursive;
}
.grid{
    height:400px;
    width:400px;
    display:flex;
    flex-wrap:wrap;
    background-color: #D9D9D9;
}


.grid div{
    height: 40px;
    width:40px;
    box-shadow: inset 0px 0px 3px #000000;
    font-family: cursive;
    font-size:20px;
    display:flex;
    justify-content: center;
    align-items: center;
}

.checked{
    height: 40px;
    width:40px;
    background-color: #a3a2a2;
    box-shadow: inset 0px 0px 10px #000000;
}

.bomb{
}

[data='1']{
    color:blue;
}
[data='2']{
    color:green;
}
[data='3']{
    color:red;
}
[data='4']{
    color:darkblue;
}
[data='5']{
    color:maroon;
}
[data='6']{
    color:teal;
}
[data='7']{
    color:purple;
}
[data='8']{
    color:magenta;
}